
.title{
    color: black;
    font-size: 86px;
    font-family: Chelsea Market;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.title-heading{
    color: black;
    font-size: 30px;
    font-family: Cedarville Cursive;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.sky{
    width: 100%; 
    height: 100%; 
    position: relative; 
    background: linear-gradient(180deg, #71A5D4 0%, #B6D3EE 100%); 
}


.nav-photo{
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 100px;
}


.carousel-indicators li,
.carousel-indicators .active,
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0.5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    transition: none;
    transform: none;
}

.carousel-indicators {
    width: 40px;
    margin: 0.5%;
    bottom: 10px;     
    left: 10px;       
}

.carousel-indicators li {
  background-color: #D9D9D9;
}

.carousel-indicators li.active {
  background-color: #369C6B;
}

.carousel-container {
    max-width: 50%;
    height: 100%;            /* <--- fixed height here! */
    margin: 30px auto;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.22);
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    background: #fff;
}

.carousel-inner, .carousel-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* fill and crop as needed, never stretch */
    display: block;
    border-radius: 0;        /* corners by container */
    margin: 0;
    box-shadow: none;
}


.info-box{
    max-width: 50%; 
    background: rgba(255, 255, 255, 0.47); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
}

.text-box{
    margin-left: 15px;
}

.project-title{
    color: #25B570;
    font-size: 24px;
    font-family: ADLaM Display;
    font-weight: 400;
    word-wrap: break-word;
}

.project-info{
    color: #726F6F;
    font-size: 20px;
    font-family: ADLaM Display;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}

.project-body{
    color: #726F6F;
    font-size: 20px;
    font-family: ADLaM Display;
    font-weight: 400;
    word-wrap: break-word;
}

