html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; 
}

.sky{
    background: linear-gradient(180deg, #71A5D4 0%, #B6D3EE 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;  /* makes it cover as you scroll */
    background-size: cover;
}

.black{
    background: linear-gradient(1deg, #000000 0%, #171717 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;  /* makes it cover as you scroll */
    background-size: cover;
}

body{
  padding-top: 100px;
}





